header{
    border: 2px solid;
    background-color: aqua;
    display: flex;
    justify-content: end;
}

header span{
    padding: 10px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    border-color: black;
    background-color: aqua;
}